In [1]:
from __future__ import print_function

import numpy as np
import pandas as pd
import recordlinkage as rl
import pickle
import sklearn

In [2]:
df_TD = pd.read_csv(r"C:\Users\Clamfighter\Machine_Learning_Project\my_env\Heggle\Record Linkage - Company Data\Company Data\RLW_JUNE_Labelled.csv",encoding = "ISO-8859-1" )

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Clamfighter\\Machine_Learning_Project\\my_env\\Heggle\\Record Linkage - Company Data\\Company Data\\RLW_JUNE_Labelled.csv'

In [29]:
temp = df_TD.loc[df_TD['Label'] == 1]
df_TD = df_TD.loc[df_TD['Label'] == 0]
df_TD = df_TD.sample(frac=1)
df_TD = df_TD[:len(temp)]
df_TD

,SIM Organisation Name,SIM CompanyNumber,SIM Address Line 1,SIM Address Line 2,Exact City,Exact County,Exact Post Code,index,Organisation ID,Company/Charity Number,...,Normalised Organisation Name,index.1,CompanyNumber,RegAddress#AddressLine1,RegAddress#AddressLine2,RegAddress#PostTown,RegAddress#County,RegAddress#PostCode,Normalised Names,Label
1005,0.871370,0.422619,0.523810,0.000000,0,0,0,119,0012I00002Rb9gH,9860646,...,NATIONAL TESTING SERVICES,2362553,12232690,90 MILTON ROAD,NaN,WIDNES,NaN,WA8 7JP,NATIONAL TEMPING RECRUITMENT 2019,0.0
1981,0.850980,0.000000,0.000000,0.000000,0,0,0,235,001F000001Tsuxd,NaN,...,JOHANN LAMONT MSP,1747018,11543535,2 BARN CLOSE,NaN,FAREHAM,NaN,PO14 4FD,JOHANN HAVENGA,0.0
729,0.622751,0.511905,0.436275,0.588889,0,0,0,86,0010G000022OjZZ,4736208,...,HUMPTY DUMPTY CHILDCARE (HDC),4332192,11146461,UNIT 2 GIDLEY WAY,HORSPATH,OXFORD,NaN,OX33 1RQ,HUMPTIES,0.0
542,0.677979,0.601190,0.618357,0.000000,0,0,0,64,0012I00002ffLUQ,SC668717,...,FOGGIES BAR & COFFEE HOUSE,1517451,9589877,58A MIDDLE STREET NORTH,NaN,DRIFFIELD,NaN,YO25 6SU,FOGGIELOAN ROOMS,0.0
2055,0.883887,0.000000,0.546741,0.000000,0,0,0,244,001F0000017anOa,NaN,...,RICHARDSONS HEALTHCARE,2995378,12535188,RICHARDSONS BOATYARD THE STAITHE,STALHAM,NORWICH,NORFOLK,NR12 9BX,RICHARDSONS LEISURE (),0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1859,0.822059,0.000000,0.529365,0.000000,0,0,0,220,0012I00002WrP6O,NaN,...,CROYDON NEIGHBOURHOOD CARE ASSOCIATION,1027186,5926424,30-32 SOUTH END,CROYDON,SURREY,NaN,CR0 1DN,CROYDON METROPOLITAN COLLEGE,0.0
447,0.663462,0.000000,0.510774,0.000000,0,0,0,52,0012I00002ffFqN,NaN,...,CRUST LIKE THAT,1028735,12326685,20 SHEEPCOTES ROAD,NaN,ROMFORD,NaN,RM6 5LS,CRUST SPORTS,0.0
7,0.617424,0.511905,0.000000,0.000000,0,0,0,0,0012I00002ffKqr,4612928,...,4D CARE,48921,10901671,PEARTREE HOUSE,BOLHAM LANE,RETFORD,NOTTS,DN22 6SU,4D BUSINESS SOLUTIONS,0.0
1828,0.606838,0.000000,0.641595,0.000000,0,0,0,216,001F000000xPQMe,NaN,...,ANY-3,302419,11273270,1 FOSSE CLOSE,BURBAGE,HINCKLEY,NaN,LE10 2EH,ANY WHICH WAY DRIVER HIRE,0.0
444,0.823077,0.000000,0.437879,0.000000,0,0,0,52,0012I00002ffFqN,NaN,...,CRUST LIKE THAT,1028728,SC638506,5 ROCKFIELD CRESCENT,NaN,DUNDEE,NaN,DD2 1JE,CRUST DUNDEE,0.0

In [30]:
df_TD = pd.concat([df_TD,temp])
df_TD = df_TD.sample(frac=1)
df_TD

,SIM Organisation Name,SIM CompanyNumber,SIM Address Line 1,SIM Address Line 2,Exact City,Exact County,Exact Post Code,index,Organisation ID,Company/Charity Number,...,Normalised Organisation Name,index.1,CompanyNumber,RegAddress#AddressLine1,RegAddress#AddressLine2,RegAddress#PostTown,RegAddress#County,RegAddress#PostCode,Normalised Names,Label
1479,0.930556,0.500000,0.516474,0.000000,0,0,0,175,0012I00002gQVqz,10646439,...,STARREZ,3395951,11282295,57 WINDMILL STREET,NaN,GRAVESEND,KENT,DA12 1BB,STARRIET,1.0
1393,0.616667,0.523810,0.596825,0.000000,0,0,0,164,0012I00002ffMGR,6509697,...,SEVENTH ELEMENT,3198573,5886365,1 JORDANS CLOSE,DAGENHAM,ESSEX,NaN,RM10 7DU,SEVENTH DAY CHURCH OF GOD (REFORMED),0.0
1166,0.876190,0.523810,1.000000,0.000000,1,0,1,138,0012I00002eP7no,3936122,...,PJ CARE,2740426,4483526,153 SHERWOOD DRIVE,BLETCHLEY,MILTON KEYNES,NaN,MK3 6RT,PJ CARE DEVELOPMENTS,1.0
857,0.870051,0.642857,0.539646,0.549206,0,0,0,102,0012I00002ffKX6,156924,...,LEGENDS AT THE MONUMENT,1966256,5599852,BICESTER HERITAGE BUILDING 129,BUCKINGHAM ROAD,BICESTER,OXFORDSHIRE,OX27 5HA,LEGENDS AUTOMOTIVE,0.0
1419,0.675478,0.490079,0.000000,0.000000,0,0,0,167,0012I00002eOiq2,3460387,...,SIDDALL & HILTON PRODUCTS,3236701,10607772,8 CAROLINE POINT 62 CAROLINE STREET,JEWELLERY QUARTER,BIRMINGHAM,NaN,B3 1UF,SIDDALL JONES PROPERTY MANAGEMENT,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,0.953952,0.000000,0.632937,0.501068,0,0,0,47,0012I00002RATMb,NaN,...,COMPLETE WEED CONTROL (SCOTLAND SOUTH EAST),945719,SC348610,21 HUNTER STREET,EAST KILBRIDE,GLASGOW,NaN,G74 4LZ,COMPLETE WEED CONTROL (SCOTLAND NORTH WEST) .,0.0
1778,0.988235,0.916667,1.000000,0.000000,0,0,1,211,0012I00002gQWvq,209407,...,ZM ARCHITECTURE,4101390,SC209407,62 ALBION STREET,GLASGOW,LANARKSHIRE,NaN,G1 1NY,ZM ARCHITECTURE .,1.0
2103,0.988235,0.000000,0.565359,0.000000,0,0,0,250,0010G00001zNUNY,NaN,...,THE YOUTH AGENCY,3671244,SC260469,29 BRANDON STREET,NaN,HAMILTON,SOUTH LANARKSHIRE,ML3 6DA,THE YOUTH AGENCY,1.0
1923,0.822222,0.000000,0.495040,0.000000,0,0,0,228,0012I00002OeAc2,NaN,...,GSTORES,4151657,12460810,386 GRACE STREET,NaN,NEWCASTLE UPON TYNE,NaN,NE6 2RQ,GSTR,0.0
1368,1.000000,1.000000,1.000000,0.903030,1,0,1,162,0012I00002gQmHH,2577009,...,SCIENTIFIC LABORATORY SUPPLIES,3157331,2577009,ORCHARD HOUSE,THE SQUARE,HESSLE,EAST YORKSHIRE,HU13 0AE,SCIENTIFIC LABORATORY SUPPLIES,1.0

In [32]:
X = df_TD[['SIM Organisation Name','SIM CompanyNumber','SIM Address Line 1','SIM Address Line 2','Exact City','Exact County','Exact Post Code']]
X

,SIM Organisation Name,SIM CompanyNumber,SIM Address Line 1,SIM Address Line 2,Exact City,Exact County,Exact Post Code
1479,0.930556,0.500000,0.516474,0.000000,0,0,0
1393,0.616667,0.523810,0.596825,0.000000,0,0,0
1166,0.876190,0.523810,1.000000,0.000000,1,0,1
857,0.870051,0.642857,0.539646,0.549206,0,0,0
1419,0.675478,0.490079,0.000000,0.000000,0,0,0
...,...,...,...,...,...,...,...
398,0.953952,0.000000,0.632937,0.501068,0,0,0
1778,0.988235,0.916667,1.000000,0.000000,0,0,1
2103,0.988235,0.000000,0.565359,0.000000,0,0,0
1923,0.822222,0.000000,0.495040,0.000000,0,0,0
1368,1.000000,1.000000,1.000000,0.903030,1,0,1

In [36]:
y = df_TD[['Label']]
y

      Label
1479    1.0
1393    0.0
1166    1.0
857     0.0
1419    0.0
...     ...
398     0.0
1778    1.0
2103    1.0
1923    0.0
1368    1.0

[464 rows x 1 columns]

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15)

In [40]:
from sklearn import svm

model = svm.SVC()
model.fit(X_train,y_train)

c:\Users\Clamfighter\Machine_Learning_Project\my_env\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [42]:

y_pred = model.predict(X_test)

In [43]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[39,  1],
       [ 7, 23]], dtype=int64)

In [44]:
X_test

,SIM Organisation Name,SIM CompanyNumber,SIM Address Line 1,SIM Address Line 2,Exact City,Exact County,Exact Post Code
1222,0.983333,0.000000,0.546784,0.000000,1,0,0
1495,1.000000,1.000000,0.282407,0.000000,0,0,0
839,1.000000,1.000000,0.648693,0.000000,1,0,1
1942,0.898172,0.000000,0.506864,0.529321,0,0,0
1861,0.687643,0.000000,0.494048,0.000000,1,0,0
...,...,...,...,...,...,...,...
196,0.896703,0.666667,0.511055,0.000000,0,0,0
2117,0.639153,0.000000,0.606481,0.000000,0,0,0
1525,0.828701,0.422619,0.000000,0.000000,0,0,0
1210,0.878571,0.511905,0.428485,0.503268,0,0,0
1410,0.820217,0.345238,0.448635,0.000000,0,0,0

In [45]:
y_pred

array([1., 1., 1., 0., 0., 0., 1., 0., 1., 0., 0., 0., 1., 1., 1., 0., 1.,
       1., 0., 0., 0., 0., 1., 0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 1., 1., 1., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0.])

In [46]:
test_results = X_test
test_results['predicted'] = y_pred
test_results['label'] = y_test
test_results

ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,SIM Organisation Name,SIM CompanyNumber,SIM Address Line 1,SIM Address Line 2,Exact City,Exact County,Exact Post Code,predicted,label
1222,0.983333,0.000000,0.546784,0.000000,1,0,0,1.0,1.0
1495,1.000000,1.000000,0.282407,0.000000,0,0,0,1.0,1.0
839,1.000000,1.000000,0.648693,0.000000,1,0,1,1.0,1.0
1942,0.898172,0.000000,0.506864,0.529321,0,0,0,0.0,0.0
1861,0.687643,0.000000,0.494048,0.000000,1,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
196,0.896703,0.666667,0.511055,0.000000,0,0,0,0.0,0.0
2117,0.639153,0.000000,0.606481,0.000000,0,0,0,0.0,0.0
1525,0.828701,0.422619,0.000000,0.000000,0,0,0,0.0,0.0
1210,0.878571,0.511905,0.428485,0.503268,0,0,0,0.0,0.0
1410,0.820217,0.345238,0.448635,0.000000,0,0,0,0.0,0.0

In [50]:
df_output = pd.merge(test_results, df_TD, left_index=True, right_index=True)
df_output

,SIM Organisation Name_x,SIM CompanyNumber_x,SIM Address Line 1_x,SIM Address Line 2_x,Exact City_x,Exact County_x,Exact Post Code_x,predicted,label,SIM Organisation Name_y,...,Normalised Organisation Name,index.1,CompanyNumber,RegAddress#AddressLine1,RegAddress#AddressLine2,RegAddress#PostTown,RegAddress#County,RegAddress#PostCode,Normalised Names,Label
1222,0.983333,0.000000,0.546784,0.000000,1,0,0,1.0,1.0,0.983333,...,QUANTUM COMMUNICATIONS,2870970,SC608848,19/4 DUNDAS STREET,NaN,EDINBURGH,NaN,EH3 6QG,QUANTUM COMMUNICATIONS,1.0
1495,1.000000,1.000000,0.282407,0.000000,0,0,0,1.0,1.0,1.000000,...,TARGET SURVEYS,3519963,7846319,66B SMITH STREET,NaN,WARWICK,NaN,CV34 4HU,TARGET SURVEYS,1.0
839,1.000000,1.000000,0.648693,0.000000,1,0,1,1.0,1.0,1.000000,...,KELVIN BOOKS,1830294,SC122233,UNIT 57 CHAPEL STREET,"INDUSTRIAL ESTATE, MARYHILL",GLASGOW,CITY OF GLASGOW,G20 9BD,KELVIN BOOKS,1.0
1942,0.898172,0.000000,0.506864,0.529321,0,0,0,0.0,0.0,0.898172,...,HERITAGE HEALTHCARE CHELMSFORD,4253123,8362897,CLARKE NICKLIN HOUSE BROOKS DRIVE,CHEADLE ROYAL BUSINESS PARK,CHEADLE,CHESHIRE,SK8 3TD,HERITAGE HEALTHCARE ASSOCIATES,0.0
1861,0.687643,0.000000,0.494048,0.000000,1,0,0,0.0,0.0,0.687643,...,CROYDON NEIGHBOURHOOD CARE ASSOCIATION,1027193,12016693,2-28 NORTH END,NaN,CROYDON,NaN,CR0 1UB,CROYDON OUTLET TRADING,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,0.896703,0.666667,0.511055,0.000000,0,0,0,0.0,0.0,0.896703,...,BEST ROOFERS,524674,10380397,BUTTERWORTHS ACCOUNTANTS & TAX ADVISERS DELAME...,HIGH ROAD,GREAT FINBOROUGH,SUFFOLK,IP14 3AP,BEST ROOMS UK,0.0
2117,0.639153,0.000000,0.606481,0.000000,0,0,0,0.0,0.0,0.639153,...,TREES HOME HELP,3758473,7816089,25 PAIGNTON AVENUE,NaN,PORTSMOUTH,NaN,PO3 6LL,TREES IB ENGINEERING,0.0
1525,0.828701,0.422619,0.000000,0.000000,0,0,0,0.0,0.0,0.828701,...,TESLA EUROPE,3557950,10010624,B.C.L. HOUSE 2 PAVILION BUSINESS PARK,ROYDS HALL ROAD,LEEDS,WEST YORKSHIRE,LS12 6AJ,TESLA ENERGY SOLUTIONS HUNGARY,0.0
1210,0.878571,0.511905,0.428485,0.503268,0,0,0,0.0,0.0,0.878571,...,PRIORITY TM,2811136,10481417,FIRST FLOOR,73-75 HIGH STREET,STEVENAGE,HERTFORDSHIRE,SG1 3HR,PRIORITY TRAFFIC MANAGEMENT,0.0
1410,0.820217,0.345238,0.448635,0.000000,0,0,0,0.0,0.0,0.820217,...,SHROPSHIRE SUPPORTS REFUGEES,3233505,3983362,UNIT 84 CONDOVER INDUSTRIAL EST,DORRINGTON,SHREWSBURY,SALOP,SY5 7NH,SHROPSHIRE STOVE AND CHIMNEY CENTRE,0.0

In [51]:
df_output.to_csv(r'C:\Users\Clamfighter\Machine_Learning_Project\my_env\Heggle\Record Linkage - Company Data\Company Data\Outputs\Model_0.1_ouput.csv',index=False)

In [56]:
def comfusion_matrix_properties(mat):


    from sklearn.metrics import confusion_matrix

    mat = confusion_matrix(y_test,y_pred)
    print("Confusion Matrix:\n\n",mat,"\n")

    TP = mat[0][0]
    FP = mat[0][1]
    FN = mat[1][0]
    TN = mat[1][1]


    # Sensitivity, hit rate, recall, or true positive rate
    TPR = TP/(TP+FN)
    print("True Positive Rate",round(TPR*100,2),"%")

    # Specificity or true negative rate
    TNR = TN/(TN+FP) 
    print("True Negative Rate",round(TNR*100,2),"%")

    # Precision or positive predictive value
    PPV = TP/(TP+FP)
    print("Positive Predictive Value",round(PPV*100,2),"%")

    # Negative predictive value
    NPV = TN/(TN+FN)
    print("Negative Predictive Value",round(NPV*100,2),"%")

    # Fall out or false positive rate
    FPR = FP/(FP+TN)
    print("False Positive Rate",round(FPR*100,2),"%")

    # False negative rate
    FNR = FN/(TP+FN)
    print("False Negative Rate",round(FNR*100,2),"%")

    # False discovery rate
    FDR = FP/(TP+FP)
    print("False Discovery Rate",round(FDR*100,2),"%")


    # Overall accuracy
    ACC = (TP+TN)/(TP+FP+FN+TN)
    print("Overall Accuracy",round(ACC*100,2),"%")

In [61]:
from sklearn.metrics import f1_score
mat = confusion_matrix(y_test,y_pred)
comfusion_matrix_properties(mat)
print('\nF-Score:')
f1_score(y_test, y_pred)

Confusion Matrix:

 [[39  1]
 [ 7 23]]

True Positive Rate 84.78 %
True Negative Rate 95.83 %
Positive Predictive Value 97.5 %
Negative Predictive Value 76.67 %
False Positive Rate 4.17 %
False Negative Rate 15.22 %
False Discovery Rate 2.5 %
Overall Accuracy 88.57 %

F-Score:

0.8518518518518519